table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-row-cell:empty {
    -fx-background-color: cornsilk;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:filled .product_closed,
.table-row-cell:filled .product_eaten {
    -fx-background-color: -fx-table-cell-border-color, #eeeeee;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: #c3c3c3;
    -fx-border-insets: 0 0 0 0;
    -fx-text-fill: black;
}


.table-row-cell:filled .product_expired {
    -fx-background-color: -fx-table-cell-border-color, #ffa3c7;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: #c3c3c3;
    -fx-border-insets: 0 0 0 0;
    -fx-text-fill: black;
}

.table-row-cell:filled .product_opened {
    -fx-background-color: #ffeeb8;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-border-color: #c3c3c3;
    -fx-border-insets: 0 0 0 0;
    -fx-text-fill: black;
}

.table-row-cell:filled:selected .product_closed,
.table-row-cell:filled:selected .product_eaten {
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-text-fill: black;
    -fx-border-color: #c3c3c3;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0;
}

.table-row-cell:filled:selected .product_expired {
    -fx-background-color: -fx-table-cell-border-color, #ff547e;
    -fx-text-fill: black;
    -fx-border-color: #c3c3c3;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0;
}

.table-row-cell:filled:selected .product_opened {
    -fx-background-color: -fx-table-cell-border-color, #ffef76;
    -fx-text-fill: black;
    -fx-border-color: #c3c3c3;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0;
}
